<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Define uses permission for internet access because we are going to use Internet Provider -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- request the user’s permission by declaring either the ACCESS_COARSE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appdriver"
        tools:targetApi="31">
        <activity
            android:name=".bar.Ride_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InforRideActivity"
            android:exported="false" />
        <activity
            android:name=".bar.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".bar.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NotiTripActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAm0plN_R2AT0ihItJRwYZfcntAX1wtKE0" />

        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VehicleRegistration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainVehicleRegis"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Object.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>